services:
  mysql:
    image: mysql:8.0
    container_name: mysql_project
    profiles: ["mysql"]
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: sales
      MYSQL_USER: admin321
      MYSQL_PASSWORD: admin321
    ports:
      - "3310:3306"
    volumes:
      - ./mysql/data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    profiles: ["phpmyadmin"]
    restart: always
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 0
    ports:
      - "9090:80"

  postgres:
    image: postgres:16
    container_name: postgres_project
    profiles: ["postgres"]
    restart: always
    environment:
      POSTGRES_USER: admin321
      POSTGRES_PASSWORD: admin321
      POSTGRES_DB: sales
    ports:
      - "5435:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - airflow_net

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_project
    profiles: ["pgadmin"]
    restart: always
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin321
    ports:
      - "9095:80"
    networks:
      - airflow_net

  airflow-init:
    image: apache/airflow:2.10.2
    container_name: airflow-init
    entrypoint: /bin/bash
    command: >
      -c '
      echo "Waiting for metadata DB...";
      until pg_isready -h "${DB_HOST}" -p "${DB_PORT}" -U "${DB_USER}"; do echo waiting for db; sleep 2; done;
      export AIRFLOW__CORE__EXECUTOR=${AIRFLOW__CORE__EXECUTOR};
      export AIRFLOW__CORE__SQL_ALCHEMY_CONN=${AIRFLOW__CORE__SQL_ALCHEMY_CONN};
      airflow db init && airflow users create --username ${AIRFLOW_ADMIN_USER} --firstname Admin --lastname User --role Admin --email ${AIRFLOW_ADMIN_EMAIL} --password ${AIRFLOW_ADMIN_PASSWORD} || true
      '
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW_UID=50000
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    networks:
      - airflow_net
    profiles: ["airflow"]

  airflow-webserver:
    image: apache/airflow:2.10.2
    container_name: airflow-webserver
    restart: always
    depends_on:
      - airflow-init
    ports:
      - "8081:8080"
    command: webserver
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW_UID=50000
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    networks:
      - airflow_net
    profiles: ["airflow"]

  airflow-scheduler:
    image: apache/airflow:2.10.2
    container_name: airflow-scheduler
    restart: always
    depends_on:
      - airflow-init
    command: scheduler
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW_UID=50000
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    networks:
      - airflow_net
    profiles: ["airflow"]

networks:
  airflow_net:
    driver: bridge